*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
.white,
.glass {
  text-decoration: none;
  color: #fff;
}

.lucida {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main {
  position: absolute;
  height: 65vh;
  width: 100%;
  background: url(images/header.jpg) 0 0 no-repeat;
  background-size: 1445px auto;
  background-position: bottom center;
}

.navbar {
  position: absolute;
  width: 100%;
  margin: 82px auto;
  display: flex;
  justify-content: center;
}

.navbar_wrapper {
  border: #6c6c6c solid 1px;
  width: 96%;
  margin: 30vh, auto, 0, auto;
  border-radius: 4px;
  height: 35px;
  background: linear-gradient(#757675 50%, #676967 50%);
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.fa-apple {
  font-size: 20px;
  margin-top: -2px;
}

.element_105 {
  flex: 1 1 105px;
  height: 100%;
  border-right: #575757 solid 1px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.element_105:hover {
  cursor: pointer;
}

.element_105 > a {
  padding-top: 10px;
  font-weight: bold;
  font-size: 13px;
}

.element_135 {
  flex: 1 0.5 135px;
  display: flex;
  align-content: center;
  justify-content: center;
}

input {
  margin-top: 7px;
  background: rgba(255, 255, 255, 0.05);
  border: #575757 1px solid;
  width: 80%;
  border-radius: 28px;
  height: 23px;
}

.glass {
  font-size: 14px;
  position: relative;
  right: -15%;
  top: 7px;
}

.text_wrapper {
  font-family: "Source Sans Pro", sans-serif;
  width: 73%;
  margin: 14% auto;
  text-align: center;
}

.large {
  font-size: 4.3rem;
  margin-bottom: 17px;
}

.medium {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 35px;
}

.small {
  font-size: 1.5rem;
  font-weight: 500;
}

.text_links {
  text-decoration: none;
}

.iphones {
  position: absolute;
  margin-top: 65.1vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  width: 100%;
  height: 24.2vh;
}

.image1 {
  background: url(https://archive.fo/UW4oR/4199f096e33e638ba9aeb6c6dec3a3e64794d02c.jpg);
}

.image2 {
  background: url(https://archive.fo/UW4oR/6032fe46fd16493ddda4e90ae45725962fc826b9.jpg);
}

.image3 {
  background: url(https://archive.fo/UW4oR/307a4ef1971d63d523c362cc3e49f923549fcefc.jpg);
}

.image4 {
  background-image: url(https://archive.fo/UW4oR/ec67ffeb084d1b9c83687205641697baa4122bee.jpg);
}

.links {
  color: #0088cc;
}

.images {
  background-position: center center;
  background-size: cover;
}

.info {
  font-size: 10px;
  position: absolute;
  bottom: 5px;
  color: #6e6e6e;
  width: 100%;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 14px;
  padding: 25px;
  align-content: center;
}

.copyright {
  grid-area: 2/1/3/2;
}

.list {
  justify-self: flex-end;
  margin-right: 20px;
}

.usa {
  position: absolute;
  margin: -2px 5px;
}

.usa:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1445px) {
  .main {
    background-size: 100% 250%;
  }
}
